<div class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="img-responsive pull-left" href="/">
	   	<img src="/assets/img/parquet_logo.png" alt="Apache Parquet logo" />     
	   </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li><a href="/documentation/latest/">Documentation</a></li>
		    <li><a href="/downloads">Download</a></li>
			<li><a href="/presentations">Presentations</a></li>
			<li><a href="/adopters">Adopters</a></li>
            <li class="dropdown">
              <a href="/community">Get Involved <span class="caret"></span></a>
			                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="http://issues.apache.org/jira/browse/parquet"><i class="fa fa-bug"></i> JIRA (Bugs)</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="https://git-wip-us.apache.org/repos/asf?s=parquet"><i class="fa fa-code"></i> Source (Apache)</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/apache/incubator-parquet-mr"><i class="fa fa-github-alt"></i> Source (GitHub)</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/contribute"><i class="fa fa-code-fork"></i> Contributing</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/ApacheParquet"><i class="fa fa-twitter"></i> @ApacheParquet</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="http://stackoverflow.com/questions/tagged/parquet"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
			                	<li role="presentation"><a role="menuitem" tabindex="-1" href="https://plus.google.com/events/c36apc97f7invko9p128hq9e6b8"><i class="fa fa-google"></i> Google Hangout</a></li>
			               </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<!--
<div class="navbar navbar-custom navbar-static-top">
  <div class="navbar-header">
    <a class="img-responsive pull-left" href="/">
   	<img src="/assets/img/parquet_logo.png" alt="Apache Parquet logo" />     
   </a>
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li><a href="/documentation/latest/">Documentation</a></li>
    <li><a href="/downloads">Download</a></li>
	<li><a href="/presentations">Presentations</a></li>
	<li><a href="/adopters">Adopters</a></li>
        <li class="dropdown">
        	<a id="drop1" href="/community">Get Involved <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="http://issues.apache.org/jira/browse/parquet"><i class="fa fa-bug"></i> JIRA (Bugs)</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="https://git-wip-us.apache.org/repos/asf?s=parquet"><i class="fa fa-code"></i> Source (Apache)</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/apache/incubator-parquet-mr"><i class="fa fa-github-alt"></i> Source (GitHub)</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/contribute"><i class="fa fa-code-fork"></i> Contributing</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/ApacheParquet"><i class="fa fa-twitter"></i> @ApacheParquet</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="http://stackoverflow.com/questions/tagged/parquet"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
                	<li role="presentation"><a role="menuitem" tabindex="-1" href="https://plus.google.com/events/c36apc97f7invko9p128hq9e6b8"><i class="fa fa-google"></i> Google Hangout</a></li>
               </ul>
        </li>
      </ul>
    </div>
  </div>
<hr />
</div>
-->


<div class="container">
<!-- magical breadcrumbs -->
<ol class="breadcrumb">
  <li>
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apache Software Foundation <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="http://www.apache.org">Apache Homepage</a></li>
        <li><a href="http://www.apache.org/licenses/">Apache License</a></li>
        <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>  
        <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
        <li><a href="http://www.apache.org/security/">Security</a></li>
      </ul>
    </div>
  </li>
  <li><a href="http://incubator.apache.org">Apache Incubator</a></li>
  <li><a href="http://parquet.incubator.apache.org">Apache Parquet</a></li>
</ol>
<!-- /breadcrumb -->
